<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sentiment Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Nav bar from ebook page: 9 -->
{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Sentiment Analysis</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container" style="margin-top:50px">
  <div class = "row">    
    <div class="col-sm-4">
      <h2 class="text-danger">Sample Reviews I </h2>     
          
          <p>Angelina's Ristorante is an upscale fine dining establishment in Bonita Springs. Florida that will wow you with outstanding service from the time you get out of your car. 
            <small class="text-danger">Positive</small>
          </p>
          <!-- <p>Their menu features a selection of appetizers, fresh seafood, meats, homemade pasta made with OO flour for a light texture available in a small or entree size as well as vegetarian selection.</p> -->
          <p> Worst Service I paid money also and food was not delivered..no proper customers care service also to contact.
            <small class="text-danger">Negative</small>
          </p>
          <!-- <p> This is like a B&B. There is no lobby when you enter the building, Just a lift which you need to take to the 2nd floor for the hotel.</p> -->
          <p> "Sound quality is crisp and clear", Trebel is quite high and that one was really awesome.   
            <small class="text-danger">Positive</small> 
          </p>
                
        
    </div>
      <div class="col-sm-4">
        <h2 class="text-success">Sentiment Analysis</h2>
        <p class="text-muted">Enter a Review to check it's polarity </p>
        <br>
      <form method="POST">
        {{ form.hidden_tag() }}
         {{ form.review(class='form-control',rows=4,placeholder="Enter a review") }}
         <br>
        {{ form.submit(class='btn btn-primary btn-lg') }}
      </form>
      <br>
      <div>
      <p>
        {% if pred == 'POSITIVE' %} 
          <!-- {{ pred }}  -->
          <img id="positive" src="static/positive.png">
          <h3 class="text-success">positive</h3>
        {% elif pred == 'NEGATIVE' %}
        <img id="negative" src="static/negative.png">
        <h3 class="text-success">Negative</h3>
        {% endif %}
      </p>
      </div>
    </div>
      <div class="col-sm-4">
      <h2 class="text-danger">Sample Reviews II</h2>
        <p>
            I must respectfully disagree. While it's true that Manos was slow, poorly put together, and disgusting, it had a plot and interesting characters. For the plot of this one, someone could write, simply, N/A.

            Out of ten stars, I vote...for them to invent a new numbering system to include negative numbers.
            
            Brrrring!
            <small class="text-danger">Negative</small>
        </p>
        <p>
            “Literally ur facebook message app is useless, you only want it to increase profit. Please fix yourself. Its sad @facebook“
            <small class="text-danger">Negative</small>
        </p>
        <p>
            <em>It's a masterpiece </em><br>
            Mr. Robot is underrated. Definitely deserves better. Everybody can't understand this series.
            <small class="text-danger">Positive</small>
        </p>
    </div>
  </div>

 {% endblock %}

</body>
</html>
