<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Nav bar from ebook page: 9 -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Sentiment Analysis</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
  <div class = "row">    
    <div class="col-sm-4">
        <h2 class="text-success">Sentiment Analysis</h2>
        <p class="text-muted">Enter a Review to check it's polarity </p>
        <br>
        <!-- <form>
          <div class="form-group">      
            <textarea class="form-control" rows="5"  id="review" placeholder="Enter a Review"></textarea>
          </div>
        </form>
        <button type="button"  onclick="show()" class="btn btn-primary btn-lg ">Analyse</button>
        <br>
        <p id="result" class="text-info">{{ result }} </p>
      </div> -->
   

      <form method="POST">
        {{ form.hidden_tag() }}
         {{ form.review(class='form-control',rows=4,placeholder="Enter a review") }}
         <br>
        {{ form.submit(class='btn btn-primary btn-lg') }}
      </form>
      <br>
      <div>
      <p>
        {% if pred == 'POSITIVE' %} 
          <!-- {{ pred }}  -->
          <img id="positive" src="static/positive.png">
          <p class="text-muted">positive</p>
        {% elif pred == 'NEGATIVE' %}
        <img id="negative" src="static/negative.png">
        <p class="text-muted">Negative</p>
        {% endif %}
      </p>
      </div>
      <div class="col-sm-8"></div>
    </div>
  </div>

 {% endblock %}

</body>
</html>
